  {{#each this}}
   <div class="albumsOfSongs">
            {{song.album}}
            <div id="songsOfAlbum">
                <li>
                    {{SongList.song.isThisASingle}}
                    {{each SongList.song}}
                    <ul class="inThisAlbum">{{this}} Likes: {{this.likes}}
                       <div class="like/dislike"> <img src="/public/css/pic/like.jpg"> <img src="/public/css/pic/like.jpg"></div>
                        {{/each}}
                </li>
            </div>
        </div>
        {{/each}}